In [11]:
# 10 * 5

a = 10
b = 5
a = 15
b= 5.3

a * b

79.5

In [6]:
s = "This is string"
print(s)
s = 'This is another string'
print(s)
s = """
multiline string
multiline string2
"""
print(s)

This is string
This is another string

multiline string
multiline string2

In [21]:
print(type(s), type(a), type(b))
type(s), type(a), type(b)

<class 'str'> <class 'int'> <class 'int'>

(str, int, int)

In [16]:
del a
# print(a) # 오류 : 삭제된 변수 사용할 수 없습니다

NameError: name 'a' is not defined

In [17]:
a = 10
b = 20
c = 30

a = b = c = 100
a, b, c = 100, 200, 300

print(a, b, c)

100 200 300

In [22]:
print(0xFF)

255

In [24]:
a, b = 3, 4
a ** b, a * a * a * a

(81, 81)

In [27]:
print(10 / 3)
10 // 3

3.3333333333333335

3

In [32]:
"10" + "10",10+10, int("10") + int("10")

('1010', 20, 20)

In [31]:
"11.11" + "11.11", 11.11+11.11, float("11.11") + float("11.11")

('11.1111.11', 22.22, 22.22)

In [34]:
# 문자열 -> 문자의 배열 (문자의 집합)

"abc" * 2, [10,20,30] * 2

('abcabc', [10, 20, 30, 10, 20, 30])

In [5]:
a = 10

print('your age ' + str(10))
print('your age %d' %a)
print('your age {0}'.format(10))

your age 10
your age 10
your age 10

In [10]:
print("first line \nsecond line")

first line
second line

In [2]:
name = '홍길동'
age = 30
f'나의이름은 {name}입니다. 나이는 {age} 입니다.'

'나의이름은 홍길동입니다. 나이는 30 입니다.'

In [4]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}

In [6]:
dic['name'], dic['phone'], dic['birth']

('pey', '0119993323', '1118')

In [7]:
dic.keys(), dic.values(), dic.items()

(dict_keys(['name', 'phone', 'birth']),
 dict_values(['pey', '0119993323', '1118']),
 dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')]))

In [9]:
'pey' in dic, 'name' in dic # 값이 아니라 키가 있는지 확인하는 연산

(False, True)

In [13]:
# dic['email']
dic.get('email'), dic.get('name'), dic.get('email','no email')

(None, 'pey', 'no email')

In [15]:
var1 = 100
if var1:
    print ("1 - Got a true expression value")
    print (var1)
    var2 = 0
if var2:
    print ("2 - Got a true expression value")
    print (var2)
    print ("Good bye!")

1 - Got a true expression value
100